@(form: Form[Account])(implicit messages: Messages)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Logowanie</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    @helper.form(action = routes.Login.addAccount) {
    @helper.inputText(form("name"))
    @helper.inputPassword(form("pass"))
    @helper.checkbox(form("accept"))
    <input type="submit" value="Login"/>
    }
</div>
</body>
</html>