@(form: Form[Account])(implicit messages: Messages)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Rejestracja</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/login.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bg.css")">
</head>
<body>
<div class="container">
    <div class="form-signin">
        <h2 class="form-signin-heading">Rejestracja</h2>
        @helper.form(action = routes.Login.addAccount) {
        <input type="inputType" id="name" name="name" class = "form-control" placeholder="Nazwa uzytkownika" autofocus/>
        <input type="password" id="pass" name="pass" class = "form-control" placeholder ="Haslo"/>
        <p>Akceptuje Regulamin: <input type="checkbox" id="accept" name="accept" value="true" class = "form-control"/></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Rejestruj</button>
    }
    <a href="/"><button class="btn btn-lg btn-primary btn-block">Powrot</button></a>
    </div>
</div>
</body>
</html>