@(form: Form[SearchModel])(implicit messages: Messages)
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Baza Danych</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/index">Listuj</a></li>
        <li role="presentation"  class="active"><a href="/search">Szukaj</a></li>
        <li role="presentation"><a href="/new">Dodaj</a></li>
    </ul>
    @helper.form(action = routes.Search.startSearch) {
    @helper.inputText(form("name"))
    @helper.inputDate(form("date"))
    @helper.inputText(form("creator"))
    <input type="submit" value="Search Event"/>
    }
</div>
</body>
</html>