@(form: Form[SearchModel])(implicit messages: Messages)


<!DOCTYPE html>

<html lang="en">
<head>
    <title>Baza Danych</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/login.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bg.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/search.css")">
</head>
<body>
<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/index">Listuj</a></li>
        <li role="presentation"  class="active"><a href="/search">Szukaj</a></li>
        <li role="presentation"><a href="/new">Dodaj</a></li>
    </ul>
    <div class="form-signin">
        <h2 class="form-signin-heading">Wyszukiwanie</h2>
        @helper.form(routes.Search.startSearch) {
        <div class="no-white">
        <input type="inputType" id="name" name="name" class = "form-control" placeholder="Nazwa uzytkownika" autofocus/>
        <select id="nameOp" name="nameOp">
            <option value="like">Zawiera</option>
            <option value="=">=</option>
        </select>
        <input type="date" id="date" name="date" class = "form-control"/>
        <select id="dateOp" name="dateOp">
            <option value=">="> Wszystkie </option>
            <option value="="> = </option>
            <option value=">"> > </option>
            <option value=">="> >= </option>
            <option value="<"> < </option>
            <option value="<="> <= </option>
        </select>
        <input type="inputType" id="creator" name="creator" class = "form-control" placeholder="Utworzyl"/>
        <select id="creaOp" name="creaOp">
            <option value="like">Zawiera</option>
            <option value="=">=</option>
        </select>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Szukaj</button>
        }</div>
        </div>
</div>
</body>
</html>