@(form: Form[Event])(implicit messages: Messages)
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Baza Danych</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/login.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bg.css")">
</head>
<body>
<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/index">Listuj</a></li>
        <li role="presentation"><a href="/search">Szukaj</a></li>
        <li role="presentation"  class="active"><a href="/new">Dodaj</a></li>
    </ul>
    <div class="form-signin">
        <h2 class="form-signin-heading">Rejestracja</h2>
        @helper.form(action = routes.Application.addEvent) {
        <input type="inputType" id="name" name="name" class = "form-control" placeholder="Nazwa uzytkownika" autofocus/>
        <input type="date" id="date" name="date" class = "form-control" placeholder ="data"/>
        <input type="inputType" id="creator" name="creator" class = "form-control" placeholder ="Utworzyl"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Dodaj</button>
    }
    </div>
</div>
</div>
</body>
</html>